body{
    background: var(--bg-back);
    color: var(--text);
    transition: none;

    hr, hr.divider{
        border-color: var(--accent);
    }

    @import 'template/nav';
    @import 'template/homepage';
    @import 'template/criteria';
    @import 'template/movie';

    .custom-modal{
        background: var(--bg-front) !important;
        border-radius: 3rem !important;
    }

    // Carousel
    .owl-carousel {
        a{
            color: var(--text);
            &:hover{
                color: var(--accent);
            }
        }
    }

    // POSTER PLACEHOLDER DIV
    .poster-placeholder{
        background: var(--bg-front);
        border: 1px solid var(--text);
        h4{
            color: var(--text);
        }
    }

    .btn:focus, .btn.focus:focus{
        outline: none;
        box-shadow: 0 0 2px 0 var(--boxshadow);
    }
}

.movie-search{
    color: var(--text) !important;
    outline: 0;
    background: var(--bg-back) !important;
    border-width: 1px !important;
    border-color: var(--form-btn-border) !important;
    border-style: solid !important;
    border-radius: 1rem !important;
    padding: 3px;
    padding-left: 20px;
}
